<nav class="d-flex align-content-stretch text-center w-100 mb-5">
  <a class="flex-fill p-4" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
  <a class="flex-fill p-4" routerLink="/products" routerLinkActive="active">PRODUCTS</a>
  <a class="flex-fill p-4" routerLink="/cart" routerLinkActive="active">CART</a>
</nav>

<router-outlet></router-outlet>

<footer class="my-5 text-center text-muted font-weight-lighter">
  Angular tutorial by George Pagonoudis
</footer>
